* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  font-size: 160%;
}

body {
  display: grid;
  place-content: center;

  min-height: 100vh;
  text-align: center;
}

p {
  text-align: center;
}

span {
  font-size: 300%;
}
